form {
  padding-top: 30px;
}

.helper-text {
  /* margin-top: -20px !important;
  padding-bottom: 20px; */
  color: rgb(120, 120, 120);
  font-size: small !important;
  /* text-transform: uppercase; */
}