.landing {
  min-height: 100vh;
  min-width: 100vh;
  background: url('https://github.com/keaglin/bisonhacks-front/blob/landing/public/images/background.png?raw=true') no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 45vh;
}

.logo {
  font-size: 72px
}
.slogan {
  font-size: 48px;
}
